body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; }
h1, h2, h3, h4, h5, h6{ font-size:100%; }
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
small{ font-size:12px; }
ul, ol { list-style:none; }
a { text-decoration:none; }
a:hover { text-decoration:underline; }
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; }
table { border-collapse:collapse; border-spacing:0; }


#wraper{
	
	width: 100% ;
	height: 100%;
	
	
}

.type-area{

		width: 1000px;
		margin: 0 auto;

	}

#header{

	width: 100%;
	height: 58px;
	background-color: #191d3a;
	
	#nav{
		width: 1000px;
		height: 100%;
		margin: 0 auto;
		

		ul,li{
				padding:0px;
				margin: 0px;
				overflow: hidden;

		}


		li {
				float: left;
				width: 100px;
				height: 58px;
				margin-right: 1px;
				text-align: center;
				line-height: 58px;
				color: #FFFFFF;
		}


		#icon{

			width: 226px;
			margin-right: 0;

		}

		#jiaru{

			width: 168px;
			margin-right: 0;
		}

	}
	

}

#main{

	width: 100%;
	height: 1163px;


	#main-area1 img{

		width: 100%;
		height: 463px;
		
	}


	#main-area2{
		
		width: 100%;


		.type-area  {

				border-bottom:1px solid  red;
				overflow: hidden;

				.kongbai{

					width: 100px;
					height: 50px;

				}
				.content-area{
					overflow: hidden;
					.content{
						float: left;
						width: 217px;
						height: 130px;
						margin-right: 44px;
						background-color: #EB1A1A;
					}
					.last{
						margin-right: 0;
					}
				}



				.shuoming{

					width: 100%;
					height: 100px;
				}
		}
	}

}

#footer{

	width: 100%;
	height: 91px;
	background-color: #191d3a;
}
